<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">プロダクトマネジメントでお困りですか？</h2>
        <hr class="light">
        <p class="text-faded">
          Product Managers Japan (PMJP)は、主にWeb業界のプロダクトマネジメント・オーナーシップに興味を持つ人々が集まるコミュニティです。現職のプロダクトマネジャーはもとより、エンジニア・デザイナー・プランナーなどなど、様々なバックグラウンドを持つ人々が集っています。
        </p>
        <p class="text-faded">
          私たちと一緒に、どうしたらよりよいプロダクトを作れるか考えてみませんか？
        </p>
        <a href="https://product-managers-japan.herokuapp.com/" class="btn btn-default btn-xl">続きは<i class="fa fa-slack fa-1x wow bounceIn" data-wow-delay=".1s"></i>Slackで！</a>
      </div>
    </div>
  </div>
</section>
