<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/3s9OfW15tVYqou" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
      </div>
      <div class="col-lg-4 col-sm-6">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/3jwWnTnAFqmEkl" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="http://d.hatena.ne.jp/naoya/20151026/1445827208"><img src="img/resources/naoya.png" class="img-responsive" alt=""></a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="http://june29.hatenablog.jp/entry/2015/09/07/082626"><img src="img/resources/june29.png" class="img-responsive" alt=""></a>
      </div>
    </div>
  </div>
</section>
